.nosotros-contenido {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../../assets/footerr.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.nosotros-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    min-height: 100vh; 
    padding: 20px; 
}

.titulo {
    color: #3f9f16;
    text-align: center;
    font-size: clamp(2rem, 5vw, 3.5rem);
    padding: 20px;
    margin-bottom: 20px;
}

.text-nosotros {
    color: #fff;
    font-size: clamp(1.5rem, 4vw, 2rem); 
    width: 100%;
    max-width: 800px; 
    margin-bottom: 10vh;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    line-height: 1.6;
    padding: 0 20px; 
    margin-left: 5%;
}

.frente-contenedor {
    position: absolute;
    width: 100%;
    height:80%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10vw; 
}

.frente {
    width: 25vw;
    height: 55vh;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-right: 10%;
}

.frente.animacion-activa {
    opacity: 1;
    transform: translateX(0);
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .titulo {
        font-size: clamp(2rem, 6vw, 2.5rem);
    }

    .nosotros-text {
        font-size: clamp(1.2rem, 5vw, 1.3rem);
        width: 90%;
        margin-bottom: 8vh;
    }

    .frente-contenedor {
        padding-right: 5vw;
        bottom: 25vh;
    }

    .frente {
        width: 35vw;
        height: 45vh;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: clamp(1.8rem, 6vw, 2rem);
    }

    .nosotros-contenido {
        background-position: center center;
        background-repeat: no-repeat; /* Cambio de repeat-y a no-repeat para evitar repeticiones innecesarias */
        background-size: cover; /* Ajuste para asegurar una mejor respuesta visual */
        justify-content: flex-end;
    }

    .text-nosotros{
        margin-top: 0;
        max-width: 90%;
        text-align: center;
        font-size: 1.2rem;
    }

    .frente-contenedor {
        padding-right: 5vw;
        bottom: 55vh;
    }

    .frente {
        width: 50vw;
        height: 40vh;
    }
}

@media (max-width: 425px) {
    .titulo {
        font-size: 1.8rem;
        margin: 0 ;
    }

    .nosotros-text {
        font-size: 0.2rem;
        width: 95%;
        margin-bottom: 0;
    }

    .text-nosotros{
        margin-left: 0%;
    }

    .nosotros-text {
        font-size: 1.1rem;
        width: 95%;
        margin-bottom: 20vh;
    }

    .frente-contenedor {
        bottom: -21vh;
        width: 100vw;
        margin-right: 60px;
    }

    .frente {
        width: 60vw;
        height: 35vh;
    }

}