.nosotros-contenido {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../../assets/footerr.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.nosotros-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    max-width: 800px;
}

.titulo {
    color: #3f9f16;
    text-align: center;
    font-size: clamp(2rem, 5vw, 3.5rem);
    padding: 20px;
    margin-bottom: 20px;
}

.text-nosotros {
    color: #fff;
    font-size: clamp(1rem, 4vw, 2rem); 
    width: 100%;
    max-width: 800px; 
    margin-bottom: 3rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    line-height: 1.6;
}

.frente-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frente {
    width: 100%;
    max-width: 400px;
    height: 55vh;
    background-image: url("/src/assets/frenteee.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.frente.animacion-activa {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 1024px) {
    .titulo {
        font-size: clamp(2rem, 6vw, 2.5rem);
    }

    .nosotros-text {
        font-size: clamp(1.2rem, 4vw, 1.5rem);
    }

    .frente {
        max-width: 300px;
        height: 45vh;
    }
}

@media (max-width: 900px) {
    .titulo {
        font-size: clamp(1.8rem, 6vw, 2rem);
        text-align: center;
    }

    .nosotros-contenido {
        justify-content: center;
    }

    .nosotros-text {
        font-size: 1.2rem;
        width: 90%;
    }

    .frente {
        max-width: 250px;
        height: 40vh;
        width: 40vw;
        top: 45%;
        left: 25%;
    }
}

@media (max-width: 500px) {
    .titulo {
        font-size: 1.5rem;
    }

    .nosotros-text {
        font-size: 1rem;
    }

    .text-nosotros {
        text-align: center;
        margin: 0;
    }

    .frente-contenedor {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .frente {
        width: 70%;
        height: 35vh;
    }
}
