.nosotros-contenido {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../../assets/footerr.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nosotros-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    min-height: 100vh; 
    padding: 20px; 
}

.titulo {
    color: #3f9f16;
    text-align: center;
    font-size: clamp(2rem, 5vw, 3.5rem);
    padding: 20px;
    margin-bottom: 20px;
}

.text-nosotros {
    color: #fff;
    font-size: clamp(1.5rem, 4vw, 2rem); 
    width: 100%;
    max-width: 800px; 
    margin-bottom: 10vh;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    line-height: 1.6;
    padding: 0 20px; 
    margin-left: 5%;
}

.frente-contenedor {
    position: absolute;
    top: 15%;
    right:0%;
    width: 40vw;
    height:70vh;
    padding-right: 10vw; 
    background-image: url("../../assets/frenteee.jpeg");
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 500px;
}

.frente {
    width: 25vw;
    height: 55vh;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-right: 10%;
}

.frente.animacion-activa {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 1024px) {
    .titulo {
        font-size: clamp(2rem, 6vw, 2.5rem);
    }

    .nosotros-text {
        font-size: clamp(1.2rem, 5vw, 1.3rem);
        width: 100%; /* Ajuste del 110% a 100% */
        margin-bottom: 8vh;
    }

    .frente-contenedor {
        margin-top: 0;
        margin-right: 0;
        height: 30%;
        width: 25%;
        top: 20%;
    }
}

@media (max-width: 900px) {
    .titulo {
        font-size: clamp(1.8rem, 6vw, 2rem);
        text-align: center;
    }

    .nosotros-contenido {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-nosotros {
        margin-top: 0;
        max-width: 100%;
        text-align: center;
        font-size: 1.9rem;
    }

    .frente-contenedor {
        height: 40vh;
        width: 40vw;
        top: 45%;
        left: 25%;
    }
}

@media (max-width: 500px) {
    .titulo {
        font-size: 1.8rem;
        margin: 0;
    }

    .nosotros-text {
        width: 100%;
        margin-bottom: 20vh;
    }

    .text-nosotros {
        margin-left: 0;
        font-size: 1.6rem; /* Ajuste de tamaño legible */
    }

    .frente-contenedor {
        height: 30vh;
        width: 50vw;
        top: 45%;
    }
}
